@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .custom-width-45 {
    width: 45%; 
  }
  .custom-width-25 {
    width: 25%; 
  }
  .custom-width-225 {
    width: 22.5%; 
  }
  .custom-width-10 {
    width: 10%; 
  }
  .custom-width-75 {
    width: 75%; 
  }
  .custom-width-90 {
    width: 90%; 
  }
  .custom-height-60 {
    height: 60%; 
  }
}
