@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .custom-width-45 {
    width: 45%; 
  }
  .custom-width-35 {
    width: 35%; 
  }
  .custom-width-5 {
    width: 5%; 
  }
  .custom-width-225 {
    width: 22.5%; 
  }
  .custom-width-10 {
    width: 10%; 
  }
  .custom-width-90 {
    width: 90%; 
  }
  .custom-height-78 {
    height: 78%; 
  }
  .custom-height-60 {
    height: 60%; 
  }
  .custom-top-70 {
    top: 70%; 
  }
}


:root {
  --swiper-icon-prev: url(../public/assets/icons/icArrowPrev.svg);
  --swiper-icon-next: url(../public/assets/icons/icArrowNext.svg);
  --swiper-theme-color: #00000
}

.swiper-button-prev {
  background-image: var(--swiper-icon-prev);
}

.swiper-button-next {
  background-image: var(--swiper-icon-next);
}

